In [ ]:
# Process raw data about research income from HESA and create a table we can use for lookup in analyses

In [121]:
import os
import re
import pandas as pd
import numpy as np
import sys
import glob

%matplotlib inline

CURRENT_DIR = os.getcwd()
LIB_DIR = CURRENT_DIR + '/lib'
DATA_DIR = CURRENT_DIR + '/data'
RAW_DATA_DIR = DATA_DIR + '/raw'
PROCESSED_DATA_DIR = DATA_DIR + '/processed'

In [122]:
# Absolute or relative path to HESA file with data on research income
income_from_councils_file = LIB_DIR + "/HESA-UK-research-income-from-research-councils-2017_2018.csv"
income_from_other_sources_file = LIB_DIR + "/HESA-UK-research-income-other-sources-2017_2018.csv"

In [123]:
income_from_councils = pd.read_csv(income_from_councils_file, encoding = 'unicode_escape')
income_from_other_sources = pd.read_csv(income_from_other_sources_file, encoding = 'unicode_escape')

In [124]:
income_from_councils.set_index('UKPRN')
income_from_other_sources.set_index('UKPRN')
cols_to_keep = income_from_other_sources.columns.difference(income_from_councils.columns)
income = pd.concat([income_from_councils, income_from_other_sources[cols_to_keep]], axis=1, join='inner')

In [125]:
income.head(5)

,UKPRN,HE Provider,1a Biotechnology and Biological Sciences Research Council (BBSRC),1b Medical Research Council (MRC),1c Natural Environment Research Council (NERC),1d Engineering and Physical Sciences Research Council (EPSRC),1e Economic and Social Research Council (ESRC),1f Arts & Humanities Research Council (AHRC),1g Science & Technology Facilities Council (STFC),1h Other,...,14 Non-EU other,15 Total,2 UK-based charities (open competitive process),3 UK based charities (other),"4 UK central government bodies/local authorities, health and hospital authorities",5 UK central government tax credits for research and development expenditure,"6 UK industry, commerce and public corporations",7 UK other sources,8 EU government bodies,9 EU-based charities (open competitive process)
0,10007783,The University of Aberdeen,208,1154,65,6,77,0,0,1,...,36,16791,3620,610,8460,0,434,73,705,74
1,10007849,University of Abertay Dundee,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10007856,Aberystwyth University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10000163,AECC University College,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10000291,Anglia Ruskin University,0,0,0,0,0,0,0,0,...,14,315,19,0,113,0,100,0,19,0

In [126]:
# drop duplicate columns
#income = income.drop([income.columns[11] , income.columns[12]], axis="columns")

In [127]:
income.columns

Index(['UKPRN', 'HE Provider',
       '1a Biotechnology and Biological Sciences Research Council (BBSRC)',
       '1b Medical Research Council (MRC)',
       '1c Natural Environment Research Council (NERC)',
       '1d Engineering and Physical Sciences Research Council (EPSRC)',
       '1e Economic and Social Research Council (ESRC)',
       '1f Arts & Humanities Research Council (AHRC)',
       '1g Science & Technology Facilities Council (STFC)', '1h Other',
       '1i Total Research Councils',
       '10 EU industry, commerce and public corporations',
       '11 EU (excluding UK) other',
       '12 Non-EU-based charities (open competitive process)',
       '13 Non-EU industry, commerce and public corporations',
       '14 Non-EU other', '15 Total',
       '2 UK-based charities (open competitive process)',
       '3 UK based charities (other)',
       '4 UK central government bodies/local authorities, health and hospital authorities',
       '5 UK central government tax credits for research and development expenditure',
       '6 UK industry, commerce and public corporations', '7 UK other sources',
       '8 EU government bodies',
       '9 EU-based charities (open competitive process)'],
      dtype='object')

In [128]:
income['total_£000s'] = income['1i Total Research Councils'] + income['15 Total']

In [129]:
income

,UKPRN,HE Provider,1a Biotechnology and Biological Sciences Research Council (BBSRC),1b Medical Research Council (MRC),1c Natural Environment Research Council (NERC),1d Engineering and Physical Sciences Research Council (EPSRC),1e Economic and Social Research Council (ESRC),1f Arts & Humanities Research Council (AHRC),1g Science & Technology Facilities Council (STFC),1h Other,...,15 Total,2 UK-based charities (open competitive process),3 UK based charities (other),"4 UK central government bodies/local authorities, health and hospital authorities",5 UK central government tax credits for research and development expenditure,"6 UK industry, commerce and public corporations",7 UK other sources,8 EU government bodies,9 EU-based charities (open competitive process),total_£000s
0,10007783,The University of Aberdeen,208,1154,65,6,77,0,0,1,...,16791,3620,610,8460,0,434,73,705,74,18302
1,10007849,University of Abertay Dundee,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10007856,Aberystwyth University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10000163,AECC University College,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10000291,Anglia Ruskin University,0,0,0,0,0,0,0,0,...,315,19,0,113,0,100,0,19,0,315
5,10007759,Aston University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,10007857,Bangor University,0,0,0,0,0,0,0,0,...,343,233,0,54,0,0,44,12,0,343
7,10000571,Bath Spa University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,10007850,The University of Bath,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10007152,University of Bedfordshire,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,10005343,Queen's University Belfast,693,2903,0,0,1416,0,0,124,...,30214,9731,50,10611,0,741,0,2854,26,35350
11,10007760,Birkbeck College,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,10007140,Birmingham City University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,10006840,The University of Birmingham,1367,6497,23,70,16,91,0,102,...,52100,15923,4427,15583,0,1899,205,2780,347,60266
14,10000712,University College Birmingham,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,10007811,Bishop Grosseteste University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,10006841,The University of Bolton,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,10000385,The Arts University Bournemouth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,10000824,Bournemouth University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,10007785,The University of Bradford,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,10000886,The University of Brighton,174,31,0,12,50,0,0,0,...,1753,391,0,768,0,96,0,179,0,2020
21,10000936,The University College of Osteopathy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,10007786,The University of Bristol,540,8716,73,96,835,0,0,32,...,40052,9416,0,14992,0,161,733,1682,115,50344
23,10000961,Brunel University London,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,10000975,Buckinghamshire New University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,10007787,The University of Buckingham,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,10007788,The University of Cambridge,1575,47991,57,466,10,49,14,1144,...,209543,84347,4357,35306,0,4278,300,11235,269,260849
27,10003324,The Institute of Cancer Research,90,1291,0,175,0,0,0,0,...,27257,14509,-41,6037,0,1155,0,670,0,28813
28,10001143,Canterbury Christ Church University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,10007814,Cardiff University,343,7274,0,2,75,0,0,45,...,37299,11775,285,11820,0,823,104,1394,41,45038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,10007158,The University of Southampton,489,4623,0,335,27,0,0,96,...,29693,8862,225,8105,0,901,20,1418,6,35263
136,10006299,Staffordshire University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137,10007804,The University of Stirling,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
138,10037449,University of St Mark and St John,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
139,10008010,Stranmillis University College,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
140,10007805,The University of Strathclyde,0,27,0,75,0,0,67,0,...,797,68,7,387,0,71,8,20,0,966
141,10014001,University of Suffolk,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
142,10007159,The University of Sunderland,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
143,10007160,The University of Surrey,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
144,10007806,The University of Sussex,174,31,0,12,50,0,0,0,...,1913,391,0,825,0,233,0,47,0,2180
145,10007855,Swansea University,85,1149,57,659,1109,0,10,0,...,11648,1347,0,4812,0,433,416,1374,0,14717
146,10007161,Teesside University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
147,10008017,Trinity Laban Conservatoire of Music and Dance,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
148,10007858,University of Wales Trinity Saint David,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
149,10007114,University of the Highlands and Islands,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
150,10007807,Ulster University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
151,10007784,University College London,3578,42600,2,1415,3240,0,0,1000,...,249121,89316,12928,44354,0,9660,2744,14156,1139,300956
152,10007793,University of South Wales,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
153,10008574,The University of Wales (central functions),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
154,10007163,The University of Warwick,155,637,0,32,34,23,0,3,...,15798,1084,427,11832,0,328,314,306,0,16682
155,10007164,"University of the West of England, Bristol",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
156,10007800,The University of the West of Scotland,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
157,10006566,The University of West London,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158,10007165,The University of Westminster,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
159,10003614,The University of Winchester,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
160,10007166,The University of Wolverhampton,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
161,10007139,University of Worcester,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
162,10007657,Writtle University College,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
163,10007713,York St John University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
164,10007167,The University of York,99,751,0,0,0,0,0,0,...,1890,699,0,293,-1,0,0,8,0,2740

In [130]:
total_research_income = income['total_£000s'].sum()
income['total_%'] = (income['total_£000s']/total_research_income)*100

In [131]:
income

,UKPRN,HE Provider,1a Biotechnology and Biological Sciences Research Council (BBSRC),1b Medical Research Council (MRC),1c Natural Environment Research Council (NERC),1d Engineering and Physical Sciences Research Council (EPSRC),1e Economic and Social Research Council (ESRC),1f Arts & Humanities Research Council (AHRC),1g Science & Technology Facilities Council (STFC),1h Other,...,2 UK-based charities (open competitive process),3 UK based charities (other),"4 UK central government bodies/local authorities, health and hospital authorities",5 UK central government tax credits for research and development expenditure,"6 UK industry, commerce and public corporations",7 UK other sources,8 EU government bodies,9 EU-based charities (open competitive process),total_£000s,total_%
0,10007783,The University of Aberdeen,208,1154,65,6,77,0,0,1,...,3620,610,8460,0,434,73,705,74,18302,0.737224
1,10007849,University of Abertay Dundee,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
2,10007856,Aberystwyth University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
3,10000163,AECC University College,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
4,10000291,Anglia Ruskin University,0,0,0,0,0,0,0,0,...,19,0,113,0,100,0,19,0,315,0.012689
5,10007759,Aston University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
6,10007857,Bangor University,0,0,0,0,0,0,0,0,...,233,0,54,0,0,44,12,0,343,0.013816
7,10000571,Bath Spa University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
8,10007850,The University of Bath,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
9,10007152,University of Bedfordshire,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
10,10005343,Queen's University Belfast,693,2903,0,0,1416,0,0,124,...,9731,50,10611,0,741,0,2854,26,35350,1.423936
11,10007760,Birkbeck College,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
12,10007140,Birmingham City University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
13,10006840,The University of Birmingham,1367,6497,23,70,16,91,0,102,...,15923,4427,15583,0,1899,205,2780,347,60266,2.427580
14,10000712,University College Birmingham,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
15,10007811,Bishop Grosseteste University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
16,10006841,The University of Bolton,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
17,10000385,The Arts University Bournemouth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
18,10000824,Bournemouth University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
19,10007785,The University of Bradford,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
20,10000886,The University of Brighton,174,31,0,12,50,0,0,0,...,391,0,768,0,96,0,179,0,2020,0.081368
21,10000936,The University College of Osteopathy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
22,10007786,The University of Bristol,540,8716,73,96,835,0,0,32,...,9416,0,14992,0,161,733,1682,115,50344,2.027911
23,10000961,Brunel University London,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
24,10000975,Buckinghamshire New University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
25,10007787,The University of Buckingham,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
26,10007788,The University of Cambridge,1575,47991,57,466,10,49,14,1144,...,84347,4357,35306,0,4278,300,11235,269,260849,10.507280
27,10003324,The Institute of Cancer Research,90,1291,0,175,0,0,0,0,...,14509,-41,6037,0,1155,0,670,0,28813,1.160619
28,10001143,Canterbury Christ Church University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
29,10007814,Cardiff University,343,7274,0,2,75,0,0,45,...,11775,285,11820,0,823,104,1394,41,45038,1.814179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,10007158,The University of Southampton,489,4623,0,335,27,0,0,96,...,8862,225,8105,0,901,20,1418,6,35263,1.420432
136,10006299,Staffordshire University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
137,10007804,The University of Stirling,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
138,10037449,University of St Mark and St John,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
139,10008010,Stranmillis University College,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
140,10007805,The University of Strathclyde,0,27,0,75,0,0,67,0,...,68,7,387,0,71,8,20,0,966,0.038912
141,10014001,University of Suffolk,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
142,10007159,The University of Sunderland,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
143,10007160,The University of Surrey,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
144,10007806,The University of Sussex,174,31,0,12,50,0,0,0,...,391,0,825,0,233,0,47,0,2180,0.087813
145,10007855,Swansea University,85,1149,57,659,1109,0,10,0,...,1347,0,4812,0,433,416,1374,0,14717,0.592817
146,10007161,Teesside University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
147,10008017,Trinity Laban Conservatoire of Music and Dance,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
148,10007858,University of Wales Trinity Saint David,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
149,10007114,University of the Highlands and Islands,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
150,10007807,Ulster University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
151,10007784,University College London,3578,42600,2,1415,3240,0,0,1000,...,89316,12928,44354,0,9660,2744,14156,1139,300956,12.122833
152,10007793,University of South Wales,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
153,10008574,The University of Wales (central functions),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
154,10007163,The University of Warwick,155,637,0,32,34,23,0,3,...,1084,427,11832,0,328,314,306,0,16682,0.671969
155,10007164,"University of the West of England, Bristol",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
156,10007800,The University of the West of Scotland,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
157,10006566,The University of West London,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
158,10007165,The University of Westminster,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
159,10003614,The University of Winchester,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
160,10007166,The University of Wolverhampton,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
161,10007139,University of Worcester,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
162,10007657,Writtle University College,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
163,10007713,York St John University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
164,10007167,The University of York,99,751,0,0,0,0,0,0,...,699,0,293,-1,0,0,8,0,2740,0.110370

In [132]:
income['total_%'].sum()

100.00000000000003

In [133]:
# Insert region for institution
hesa_UK_higher_education_providers = pd.read_csv("lib/HESA_UK_higher_education_providers.csv", encoding = "utf-8")
hesa_UK_higher_education_providers_region_mapping = dict(hesa_UK_higher_education_providers[['UKPRN', 'Region']].values) # create a dict for lookup
income['region'] = income['UKPRN'].map(hesa_UK_higher_education_providers_region_mapping,na_action="ignore")
income

,UKPRN,HE Provider,1a Biotechnology and Biological Sciences Research Council (BBSRC),1b Medical Research Council (MRC),1c Natural Environment Research Council (NERC),1d Engineering and Physical Sciences Research Council (EPSRC),1e Economic and Social Research Council (ESRC),1f Arts & Humanities Research Council (AHRC),1g Science & Technology Facilities Council (STFC),1h Other,...,3 UK based charities (other),"4 UK central government bodies/local authorities, health and hospital authorities",5 UK central government tax credits for research and development expenditure,"6 UK industry, commerce and public corporations",7 UK other sources,8 EU government bodies,9 EU-based charities (open competitive process),total_£000s,total_%,region
0,10007783,The University of Aberdeen,208,1154,65,6,77,0,0,1,...,610,8460,0,434,73,705,74,18302,0.737224,Scotland
1,10007849,University of Abertay Dundee,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Scotland
2,10007856,Aberystwyth University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Wales
3,10000163,AECC University College,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,South West
4,10000291,Anglia Ruskin University,0,0,0,0,0,0,0,0,...,0,113,0,100,0,19,0,315,0.012689,Eastern
5,10007759,Aston University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,West Midlands
6,10007857,Bangor University,0,0,0,0,0,0,0,0,...,0,54,0,0,44,12,0,343,0.013816,Wales
7,10000571,Bath Spa University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,South West
8,10007850,The University of Bath,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,South West
9,10007152,University of Bedfordshire,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Eastern
10,10005343,Queen's University Belfast,693,2903,0,0,1416,0,0,124,...,50,10611,0,741,0,2854,26,35350,1.423936,Northern Ireland
11,10007760,Birkbeck College,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,London
12,10007140,Birmingham City University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,West Midlands
13,10006840,The University of Birmingham,1367,6497,23,70,16,91,0,102,...,4427,15583,0,1899,205,2780,347,60266,2.427580,West Midlands
14,10000712,University College Birmingham,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,West Midlands
15,10007811,Bishop Grosseteste University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,East Midlands
16,10006841,The University of Bolton,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,North West
17,10000385,The Arts University Bournemouth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,South West
18,10000824,Bournemouth University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,South West
19,10007785,The University of Bradford,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Yorkshire and The Humber
20,10000886,The University of Brighton,174,31,0,12,50,0,0,0,...,0,768,0,96,0,179,0,2020,0.081368,South East
21,10000936,The University College of Osteopathy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,London
22,10007786,The University of Bristol,540,8716,73,96,835,0,0,32,...,0,14992,0,161,733,1682,115,50344,2.027911,South West
23,10000961,Brunel University London,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,London
24,10000975,Buckinghamshire New University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,South East
25,10007787,The University of Buckingham,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,South East
26,10007788,The University of Cambridge,1575,47991,57,466,10,49,14,1144,...,4357,35306,0,4278,300,11235,269,260849,10.507280,Eastern
27,10003324,The Institute of Cancer Research,90,1291,0,175,0,0,0,0,...,-41,6037,0,1155,0,670,0,28813,1.160619,London
28,10001143,Canterbury Christ Church University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,South East
29,10007814,Cardiff University,343,7274,0,2,75,0,0,45,...,285,11820,0,823,104,1394,41,45038,1.814179,Wales
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,10007158,The University of Southampton,489,4623,0,335,27,0,0,96,...,225,8105,0,901,20,1418,6,35263,1.420432,South East
136,10006299,Staffordshire University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,West Midlands
137,10007804,The University of Stirling,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Scotland
138,10037449,University of St Mark and St John,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,South West
139,10008010,Stranmillis University College,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Northern Ireland
140,10007805,The University of Strathclyde,0,27,0,75,0,0,67,0,...,7,387,0,71,8,20,0,966,0.038912,Scotland
141,10014001,University of Suffolk,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Eastern
142,10007159,The University of Sunderland,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,North East
143,10007160,The University of Surrey,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,South East
144,10007806,The University of Sussex,174,31,0,12,50,0,0,0,...,0,825,0,233,0,47,0,2180,0.087813,South East
145,10007855,Swansea University,85,1149,57,659,1109,0,10,0,...,0,4812,0,433,416,1374,0,14717,0.592817,Wales
146,10007161,Teesside University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,North East
147,10008017,Trinity Laban Conservatoire of Music and Dance,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,London
148,10007858,University of Wales Trinity Saint David,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Wales
149,10007114,University of the Highlands and Islands,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Scotland
150,10007807,Ulster University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Northern Ireland
151,10007784,University College London,3578,42600,2,1415,3240,0,0,1000,...,12928,44354,0,9660,2744,14156,1139,300956,12.122833,London
152,10007793,University of South Wales,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Wales
153,10008574,The University of Wales (central functions),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Wales
154,10007163,The University of Warwick,155,637,0,32,34,23,0,3,...,427,11832,0,328,314,306,0,16682,0.671969,West Midlands
155,10007164,"University of the West of England, Bristol",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,South West
156,10007800,The University of the West of Scotland,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Scotland
157,10006566,The University of West London,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,London
158,10007165,The University of Westminster,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,London
159,10003614,The University of Winchester,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,South East
160,10007166,The University of Wolverhampton,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,West Midlands
161,10007139,University of Worcester,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,West Midlands
162,10007657,Writtle University College,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Eastern
163,10007713,York St John University,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,Yorkshire and The Humber
164,10007167,The University of York,99,751,0,0,0,0,0,0,...,0,293,-1,0,0,8,0,2740,0.110370,Yorkshire and The Humber

In [134]:
# Save to file
processed_income_data_file = PROCESSED_DATA_DIR + "/processed_HESA-UK-research-income.csv"
income.to_csv(processed_income_data_file, encoding = "utf-8")
print("Saved processed HESA UK research income data to "+ processed_income_data_file)

Saved processed HESA UK research income data to /Users/alex/work/SSI/Code/carpentry-workshops-instructors-extractor/data/processed/processed_HESA-UK-research-income.csv